<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <BuffItem v-for="item in movieBuffList" :key="item.imdbID" :buffItem="item"></BuffItem>
            </div>
        </div>
    </div>
</template>


<script setup>
    import { computed } from '@vue/reactivity';
    import BuffItem from './MovieBuffItem.vue'

    import { useStore } from 'vuex';
    const store = useStore();
    const movieBuffList = computed({
        get() {
            return store.getters.getMovieFavorites
        }
    })
</script>