<template>
    <div class="container">
        <div class="row m-3">
            <div class="col">
                <div class="row">
                    <p>Title: {{ props.buffItem.Title }}</p>
                </div>
                <div class="row">
                    <p>year: {{ props.buffItem.Year }}</p>
                </div>
                <div class="row">
                    <p>Type: {{ props.buffItem.Type }}</p>
                </div>
                <div class="row">
                    <a href="#" v-if="!props.buffItem.isFavorite" @click="addToFavorites( {Title: props.buffItem.Title, Year: props.buffItem.Year, imdbID: props.buffItem.imdbID, Type: props.buffItem.Type, Poster: props.buffItem.Poster})">Add to favorites</a>
                    <a href="#" v-if="props.buffItem.isFavorite" @click="removeFavorite(props.buffItem)">Remove from favorites</a>
                </div>
            </div>
            <div class="col-3">
                <img :src="props.buffItem.Poster" alt="" />
            </div>
        </div>
    </div>
</template>

<script setup>
    import { defineProps } from "vue";

    import { useStore } from 'vuex';
    const store = useStore();
    const props = defineProps({
        buffItem: {},
    });

    function addToFavorites(buffItem) {
        buffItem.isFavorite = true
        store.dispatch("addToFavorite", buffItem)
    }

    function removeFavorite(buffItem) {
        buffItem.isFavorite = false
        store.dispatch("removeFavorite", buffItem)
    }
</script>

<style>
    img {
        width: 100px;
    }
</style>
