<template>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <input v-model="searchText" type="text" placeholder="search here">
      </div>
      <div class="col">
        <button v-on:click="search(searchText)">Search</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <BuffItem v-for="item in movieBuffList" :key="item.imdbID" :buffItem="item"></BuffItem>
      </div>
    </div>
  </div>
</template>

<script setup>
  import BuffItem from './MovieBuffItem.vue'

  import { computed, onMounted, ref } from 'vue';
  import { useStore } from 'vuex';
  const store = useStore();
  const searchText= ref("");
  const movieBuffList = computed({
    get() {
      return store.getters.getMovieList
    }
  })

  function search(searchText) {
    store.dispatch("getMovieBuffList",{movieBuffKey: 'b44e753d',searchPhrase: searchText});
  }

  onMounted(() => {
    store.dispatch("getMovieBuffList",{movieBuffKey: 'b44e753d',searchPhrase: null});
  });
</script>

<style scoped>
</style>
