<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="#" @click="isFavorite = true">Favorites</a>
      </div>
      <div class="col">
        <a href="#" @click="isFavorite = false">Search</a>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <MovieBuff v-if="!isFavorite"/>
        <MovieFavorite v-if="isFavorite"/>
      </div>
    </div>
  </div>
</template>

<script setup>
  import { ref } from 'vue';
  import MovieBuff from './components/MovieBuff.vue'
  import MovieFavorite from './components/MovieFavorites.vue'
  const isFavorite= ref(false)
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
